target/
.idea/
grails-app/conf/DataSource.groovy
grails-app/conf/RecaptchaConfig.groovy
deploy/tmp/
*.iml
cooldeals.iml
coolDeals.iml
stacktrace.log
grails-app/conf/BootStrap.groovy
grails-app/conf/DataSource.groovy
grails-app/conf/ehcache.xml
grails-app/conf/Base.groovy
grails-app/conf/Core.groovy
grails-app/conf/Email.groovy
grails-app/conf/Local.groovy
grails-app/conf/Log.groovy
grails-app/conf/Payment.groovy
grails-app/conf/Security.groovy
grails-app/conf/Template.groovy
grails-app/conf/Tracking.groovy
grails-app/conf/Rabbitmq.groovy
cooldeals.log*
grails-app/conf/Config.groovy
src/groovy/com/coollabs/cooldeals/CurrencyEnum.groovy
src/groovy/com/coollabs/triperna/CurrencyEnum.groovy
CodeNarcReport.html
out/
.project
.settings/
web-app/robots.txt
web-app/WEB-INF/classes/
web-app/media/images/
.classpath
.DS_Store
grails-app/conf/spring/resources.xml
web-app/WEB-INF/wsdl/enterprise.wsdl
src/java/com/sforce/**
web-app/assets/js/socialcrm/
web-app/WEB-INF/wsdl/enterprise.wsdl
src/java/com/sforce/**
grails-app/conf/logback.xml
logs/
cooldeals.ipr
cooldeals.iws
cooldealsnew.iml
target-eclipse/
cooldealsnew-grailsPlugins.iml
grailsAuditLoggingPlugin-inplacePlugin.iml
grailsAuditLoggingPlugin-inplacePlugin-grailsPlugins.iml
triperna-grailsPlugins.iml
triperna.iml
triperna.ipr
triperna.iws
projectFilesBackup1/
enterprise.wsdl
