target/
.idea/
deploy/tmp/
*.iml
cooldeals.iml
coolDeals.iml
stacktrace.log
.project
.settings/
web-app/robots.txt
web-app/WEB-INF/classes/
web-app/media/images/
.classpath
.DS_Store
grails-app/conf/spring/resources.xml
web-app/WEB-INF/wsdl/enterprise.wsdl
src/java/com/sforce/**
web-app/assets/js/socialcrm/
web-app/WEB-INF/wsdl/enterprise.wsdl
src/java/com/sforce/**
grails-app/conf/logback.xml
logs/
cooldeals.ipr
cooldeals.iws
cooldealsnew.iml
target-eclipse/
cooldealsnew-grailsPlugins.iml
grailsAuditLoggingPlugin-inplacePlugin.iml
grailsAuditLoggingPlugin-inplacePlugin-grailsPlugins.iml
triperna-grailsPlugins.iml
triperna.iml
triperna.ipr
triperna.iws
projectFilesBackup1/
enterprise.wsdl
out/
